.joke-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;

  border: 2px solid #000000;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  font-size: 1rem;
}
